=link_to "Car Advertisements Web | Home", root_url

=link_to "Help", help_path

=link_to "Car List", cars_path

- if current_user
  =link_to "Logout", destroy_user_session_path, "data-turbo-method": :delete
- else
  =link_to "Login", new_user_session_path
  =link_to "Sign up", new_user_registration_path
